<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hx.base" >

    <application
        android:allowBackup="true"
        android:name=".BaseApplication"
        android:supportsRtl="true">
        <activity android:name=".view.activity.BaseActivity"/>
    </application>
</manifest>